*{font-family: 'Oxygen', sans-serif !important;}
html{background-color: #000;}
@font-face {
    font-family: "IconsBossa1";
    src: url("img/fonts/icon-menu/font/icons.woff") format("woff"),
        url("img/fonts/icon-menu/font/icons.ttf") format("truetype");
}

.km-menu-icon:after,
.km-menu-icon:before
{
    content: "\E800";
    font: 1.6em/.7em "IconsBossa1";
}

.km-content{background-color: #fff !important;}
.km-header{
    z-index: 2;position: relative;
    height: 250px !important;
    border-bottom: none !important;
    border-width: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.km-header .km-navbar{
    height: 54px !important;
    color: #fff !important;
    background: url(img/bg-navbar.png) no-repeat center top;
    border-bottom: none !important;
    border-width: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    z-index: 1;
    position: relative;
}

.km-flat .km-loader, .km-flat .km-rowinsert, .km-flat .km-state-active, .km-flat .km-scroller-pull, .km-flat .k-slider-selection, .km-flat .km-touch-scrollbar, .km-flat .km-pages .km-current-page, .km-flat .k-slider .k-draghandle, .km-flat .k-slider .k-draghandle:hover, .km-flat .km-tabstrip .km-state-active, .km-flat .km-scroller-refresh.km-load-more, .km-flat .km-popup .k-state-hover, .km-flat .km-popup .k-state-focused, .km-flat .km-popup .k-state-selected, .km-flat .km-actionsheet>li>a:active, .km-flat .km-actionsheet>li>a:hover, .km-flat li.km-state-active .km-listview-link, .km-flat li.km-state-active .km-listview-label, .km-flat .km-listview-label input[type=radio]:checked, .km-flat .km-listview-label input[type=checkbox]:checked{
    background-color: #ae2d27 !important;color: #fff !important;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.left{float:left;}
.right{float:right;}

.button-menu{background: none !important;border: none !important;}

#menu .km-content{background-color: #511c0e !important;}
#menu .km-group-title{display: none;}
#menu .km-list{margin: 1.5em;}
#menu li{
    background: none !important;
    border-width: 0 !important;
    color: #fff;
    text-transform: uppercase;
    border:none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
#menu .km-list li{
    border-bottom: #713323 1px solid !important;
}
.km-leftitem{left: 0 !important;}

.interna .km-content{
    background: #e4ad59 url(img/brilho-interna.png) no-repeat center top !important;
    color: #000 !important;
}
.interna .km-content h1{
    text-transform: uppercase;font-size: 1.7em !important; font-weight: normal;
    margin-bottom: 0 !important;
}
.logo-tabajara{top: -25px;position: relative;}

/*HOME*/
.home .km-header{
    background-color: #9aadb8;
}
.home h1{
    color: #5f707a;font-weight: 400;font-size: 30px;
}

.botao-radio{
    border: #ae2d27 6px dotted;
    display: block;
    border-radius: 50%;
    width: 227px;height: 227px;
    margin: 10px auto;
}